---
import { IsScorchedLive } from "../components/IsScorchedLive";
import Search from "../components/UserSearch";
import metadata from "../assets/metadata.json";

const activities = [
	{
		name: "Scorched Report Launch",
		date: "December 2024",
		text: "Scorched Report launched on December 24 as a gift to the wonderful Team Scorched community.",
		link: "",
		link_text: "Read TWAS",
		image: "",
	},
	{
		name: "uniQ hits 100 000 kills",
		date: "December 2024",
		text: "The third place for hitting 100k kills in Team Scorched goes to uniQ.",
		link: "",
		link_text: "Read TWAS",
		image: "",
	},
	{
		name: "Hiraeth hits 100 000 kills",
		date: "July 2024",
		text: "Hiraeth joins TheZombieReborn 	as the second person to ever achieve more than 100 000 kills in Team Scorched.",
		link: "",
		link_text: "Read TWAS",
		image: "hiraeth_100k_720p.webp",
	},
	{
		name: "This Week at Scorched: 2/13/24",
		date: "February 2024",
		text: "Howdy Howdy my favorite pyro psychos! Last time we wrote one of these we had a whole new wave of cannons upon us with the launch of Scorched Bot Season 2!",
		link: "/twas/1707850800",
		link_text: "Read TWAS",
		image: "",
	},
	{
		name: "SE looks back onto 2023",
		date: "December 2023",
		text: "With 2023 coming to a close, Scorched Enthusiasts celebrates a happy past year.",
		link: "",
		link_text: "",
		image: "SE_2023_final.webp",
	},
	{
		name: 'First "I made this for you" medal in Team Scorched',
		date: "October 2023",
		text: "NAZE HAS FUCKING DONE IT. THEY HAVE GOTTEN THE GLORIOUS MEDAL. THE DEED HAS FINALLY BEEN DONE.\nJust a shame the last kill was after the Victory message	 so it'll never show up in the API.",
		link: "",
		link_text: "",
		image: "imadethisforyou.webp",
	},
	{
		name: "100 000 kills barrier broken by TheZombieReborn",
		date: "July 2023",
		text: "TheZombieReborn becomes the first person to hit 100 000 kills in Team Scorched.",
		link: "",
		link_text: "Read TWAS",
		image: "zombie_100k.webp",
	},
	{
		name: "Vex outraged over Bungie's party rotation changes",
		date: "March 2023",
		text: "A large Vex army lead by the infamous Vex leader Sir Mac O Cheez has been spotted in the Black Garden. According to our sources they're looking to negotiate better rotation times for party game modes after Team Scorched is no longer available every 3 weeks.",
		link: "",
		link_text: "",
		image: "macnvex.webp",
	},
	{
		name: "Founding of Scorched Enthusiasts",
		date: "December 2022",
		text: "We are a people with a dream: to bring upon the world the divine balance of the most chaotic of game modes. We aim to take no prisoners in this world, but in our dedication to Scorched we shall strike furious anger upon our adversaries and never bend to any pressure. All that may oppose us shall be consigned to our flames. We humbly ask in return is your absolute allegiance to the most glorious and most highly favored of game modes. We seek your commitment to this struggle and all strife we endure in the future. We are the largest group of Scorched Enthusiasts from the group we graciously call the Scorched Realm. Our fire shall never fade.",
		link: "https://www.bungie.net/en/ClanV2?groupid=4983002",
		link_text: "Bungie Clan",
		image: "",
	},
	{
		name: "This Week at Scorched: 5/1/22",
		date: "May 2022",
		text: "Welcome back Pyros & Maniacs, today we’ve been cooking up something behind the scenes. I’ll cut to the chase here for you. As I’m sure you’re aware a lovely new batch of cannons has been cooking up, but what could this possibly mean?",
		link: "/twas/1682913600",
		link_text: "Read TWAS",
		image: "",
	},
	{
		name: "Release of Team Scorched",
		date: "August 2018",
		text: "Team up. Burn 'em down. 🔥\n Team Scorched is now LIVE in Crucible Labs.",
		link: "https://x.com/bungie/status/1033042981572423680",
		link_text: "Original Announcement",
		image: "",
	},
];
---

<header class="m-4">
	<!--
	<div class="flex justify-center">
		<svg
			width="80%"
			height="100%"
			viewBox="0 0 500 50"
			preserveAspectRatio="xMinYMid meet"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
		>
			<text
				x="2"
				y="40"
				class="text-[2.8rem] bg-clip-text bg-center font-bungo font-black fill-gray-900 dark:fill-gray-50 dark:brightness-200"
				>SCORCHED.REPORT</text
			>
		</svg>
	</div>
	<h1
		class="text-3xl text-center sm:text-5xl 2xl:text-8xl bg-clip-text bg-center font-bungo font-black text-gray-50 dark:brightness-200 bg-cover"
	>
		SCORCHED.REPORT
	</h1> -->
	<div class="object-center min-h-[32px]">
		<IsScorchedLive client:only="react" />
	</div>
	<h1
		class="text-5xl text-center mt-8 dark:text-gray-50 text-gray-900 font-extralight leading-tight"
	>
		The Home of <span class="inline-block">Team Scorched</span>
	</h1>
	<div
		class="text-lg my-10 flex justify-center text-gray-900 dark:text-gray-200 font-light leading-relaxed"
	>
		<div class="max-w-[1000px] text-center">
			Scorched Report provides you with all the details about Destiny 2's best
			game mode: <span class="inline-block">Team Scorched</span>.
			<br />
			Look up your own starts, see how you compare to other scorchers, or unlock
			all the custom Scorched Cannons.
		</div>
	</div>
	<h2 class="hidden min-h-[58px]">Search for a scorcher:</h2>
	<div class="my-10">
		<Search client:only="react" />
	</div>

	<div
		class="text-lg my-20 flex justify-center text-gray-900 dark:text-gray-200 font-light leading-relaxed"
	>
		<div class="max-w-[500px]">
			<h2 class="text-xl text-gray-900 dark:text-gray-100 font-normal">
				Currently in the Scorched Report database
			</h2>
			<div class="columns-1 space-y-3 mt-4">
				<div>
					<span class="inline-block">
						<span class="text-primary-600 text-xl font-bold mr-2">
							{Number(metadata.matches_tracked).toLocaleString()}
						</span> Team Scorched matches
					</span>
				</div>
				<div>
					<span class="inline-block">
						<span class="text-primary-600 text-xl font-bold mr-2">
							{Number(metadata.accounts_tracked).toLocaleString()}
						</span> Scorchers
					</span>
				</div>
				<div>
					<span class="inline-block">
						<span class="text-primary-600 text-xl font-bold mr-2">
							{
								(metadata.db_size / 1024 / 1024 / 1024).toLocaleString(
									undefined,
									{
										minimumFractionDigits: 0,
										maximumFractionDigits: 0,
									}
								)
							} GB
						</span> match data
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="p-8 flex items-center flex-wrap flex-col w-full -mt-10">
		<div class="p-4 mb-4 rounded-lg shadow-sm sm:p-6 xl:mb-0">
			<div class="flex items-center justify-between mb-4">
				<h2 class="text-lg font-semibold text-gray-900 dark:text-white">
					Latest Activity
				</h2>
			</div>
			<ol class="relative border-l border-gray-200 dark:border-gray-700">
				{
					activities.map((activity) => (
						<li class="mb-10 ml-4  max-w-[500px]">
							<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-800 dark:bg-gray-700" />
							<time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-500">
								{activity.date}
							</time>
							<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
								{activity.name}
							</h3>
							<p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400">
								{activity.text}
							</p>
							{activity.image === "" ? (
								""
							) : (
								<img
									alt={activity.name}
									src={`/images/news/${activity.image}`}
									loading="lazy"
								/>
							)}
							{activity.link === "" ? (
								""
							) : (
								<a
									href={activity.link}
									class="inline-flex items-center text-xs font-medium hover:underline text-primary-700 sm:text-sm dark:text-primary-500"
								>
									{activity.link_text}{" "}
									<svg
										class="w-3 h-3 ml-2"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" />
									</svg>
								</a>
							)}
						</li>
					))
				}
			</ol>
		</div>

		{
			/* 
		<div class="flex justify-center w-full">
			<img
				src={"images/shaxx_logo_smaller.png"}
				class="h-64 w-64 mask-radial mask-from-100 mask-via-[0.75] mask-to-0"
			/>
		</div>
	</div>
	<div class="dark:text-gray-300 text-2xl font-thin justify-center flex">from https://dev.to/cruip_com/create-an-infinite-horizontal-scroll-animation-with-tailwind-css-2ck 
		<div
			class="w-[70%] inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
		>
			<ul
				class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll whitespace-nowrap"
			>
				<li>
					“That’s one of the game modes they actually did a good job with” -
					GoldExgle
				</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
			</ul>
			<ul
				class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll whitespace-nowrap"
				aria-hidden="true"
			>
				<li>
					“That’s one of the game modes they actually did a good job with” -
					GoldExgle
				</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
			</ul>
		</div>
	</div> */
		}

		<style>
			/* Override in Markdown H1 title */ /* SVG FIRE */

			#svg-view {
				width: 252px;
				height: 125px;
				left: 0px;
			}

			.mo-fire svg {
				width: 100%;
				height: auto;
				position: relative;
				right: 40px;
			}
			.flame {
				animation-name: flameDisappear;
				animation-duration: 2s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				opacity: 0.5;
				transform-origin: 45% 45% 0;
			}
			.flame.one {
				animation-delay: 1s;
				animation-duration: 3s;
			}
			.flame.two {
				animation-duration: 5s;
				animation-delay: 1s;
			}

			.flame-main {
				animation-name: flameMovement;
				animation-duration: 2s;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
			.flame-main.one {
				animation-duration: 2.2s;
				animation-delay: 1s;
			}
			.flame-main.two {
				animation-duration: 2s;
				animation-delay: 1s;
			}
			.flame-main.three {
				animation-duration: 2.1s;
				animation-delay: 3s;
			}
			.flame-main.four {
				animation-duration: 3.2s;
				animation-delay: 4s;
			}
			.flame-main.five {
				animation-duration: 2.5s;
				animation-delay: 5s;
			}
			@keyframes flameMovement {
				50% {
					transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
				}
			}
			@keyframes flameDisappear {
				0% {
					transform: translate(0) rotate(180deg);
				}
				50% {
					opacity: 1;
				}
				100% {
					transform: translate(-10px, -40px) rotate(180deg);
					opacity: 0;
				}
			}
		</style>
	</div>
</header>
