---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import Content from "../content/pages/guide.html";
import MarkdownWrapper from "../app/MarkdownWrapper.astro";

const title = "How to play Team Scorched";
const og_title = "How to play Team Scorched";
const og_description =
	"The Team Scorched Document - All Tips and Tricks for Team Scorched";
const date = "2024-09-18";
const author = "uniQ, WeTheEast";
const tags = [
	"how to play team scorched",
	"team scorched tips",
	"team scorched",
	"destiny 2",
	"crucible",
];
---

<LayoutSidebar
	title={title}
	og_title={og_title}
	og_description={og_description}
	date={date}
	author={author}
	tags={tags}
>
	<div id="guide-div">
		<div class="flex justify-center text-center">
			<span class="m-6">
				This is a local mirror of the original document hosted on <a
					href="https://policies.google.com/privacy?hl=en&usp=docs_web"
					class="underline">Google Docs</a
				>.<br />
				You can also open it in a new tab or embed the
				original instead:
			</span>
		</div>
		<div class="flex justify-center flex-wrap">
			<a
				href="https://docs.google.com/document/d/1064ABA7NWypUyMI50-fxj2dT97gUU-Lvvdj5cwIrP0Q/"
				class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center m-6 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
				target="_blank"
			>
				New Tab
			</a>
			<button
				id="guide-button-embed"
				class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center m-6 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
			>
				Embed Original
			</button>
		</div>
		<div 
		style="all: initial; all: unset;">
		<div
			id="guide-content"
			class="bg-[rgb(70,19,19)] overflow-x-clip mt-6"
		>
			<MarkdownWrapper> <Content /> </MarkdownWrapper>
		</div>
	</div>
</div>
	<script>
		const div_container = document.getElementById("guide-button-embed");
		div_container.addEventListener("click", () => {
			document.getElementById("guide-div").innerHTML = `<iframe
		src="https://docs.google.com/document/d/1064ABA7NWypUyMI50-fxj2dT97gUU-Lvvdj5cwIrP0Q/edit?embedded=true"
		width="100%"
		height="1000px"
		frameborder="0"
		marginheight="0"
		marginwidth="0">Loading…</iframe
	>`;
		});
	</script>
</LayoutSidebar>
