---
/* eslint max-lines: 'off' */
import CannonShowcase from "./CannonShowcase.astro";

const { season } = Astro.props;
---

<div class="p-4 mt-28">
	<div class="m-6 text-gray-500 dark:text-gray-500 ml-[10%]">
		<span
			class="text-4xl font-semibold text-gray-900 dark:text-white"
			id={season.name
				.toLowerCase()
				.replaceAll(" ", "-")
				.replaceAll(/[^\w-_]/gm, "")}
		>
			{season?.name}
		</span>

		<div class="p-4 mt-4 text-gray-500 dark:text-gray-500">
			{season.release_date == 0 ? <div></div> :
			 <div>Released on
			<div class="text-gray-800 dark:text-gray-200">
				{
					new Date(season.release_date * 1000).toLocaleString(undefined, {
						year: "numeric",
						month: "short",
						day: "numeric",
						hour: "2-digit",
						minute: "2-digit",
					})
				}
				<a
					class="ml-1 text-primary-700 hover:text-gray-920 dark:hover:text-gray-50"
					href={`/twas/${season?.twas}`}>Read TWAS</a>
			</div>
			</div>
			}

			<div class="mt-3">
				Unlockable cannons
				<div class="text-gray-800 dark:text-gray-200">
					{Object.keys(season.cannons).length}
				</div>
			</div>
			<div class="mt-3">
				<div>Season Pass cost:</div>
				<div class="inline-flex text-gray-800 dark:text-gray-200">
					{season.pass_price}
					<img
						title="Earn scoins by winning Team Scorched matches after signing up to the Scorched Bot"
						class="ml-1"
						src="/images/icons/scoin_26px.png"
					/>
				</div>
			</div>
		</div>
	</div>
	<div
		class={"mt-2 flex flex-wrap justify-center" /*"mt-2 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2 2xl:grid-cols-3 3xl:grid-cols-4 w-max"*/}
	>
		{
			Object.keys(season.cannons).map((key) => (
				<CannonShowcase cannon={season.cannons[`${key}`]} key={key} />
			))
		}
	</div>
</div>
