---
import LayoutSidebar from "../../app/LayoutSidebar.astro";
import { Science_Activity } from "../../components/science/Population.tsx";
import metadata from "../../assets/metadata.json";

const title = "Player Population";
const make_title = "Team Scorched Player Population";
const og_title = "Team Scorched Player Population";
const og_description =
	"Find out how active Team Scorched has been from season to season.";
const date = "2025-01-15";
const author = "uniQ";
const tags = [
	"player population",
	"player count",
	"team scorched",
	"destiny 2",
	"crucible",
];
---

<LayoutSidebar
	title={title}
	make_title={make_title}
	og_title={og_title}
	og_description={og_description}
	date={date}
	author={author}
	tags={tags}
>
	<div id="science-graph-1">
		<h2
			class="text-gray-900 dark:text-gray-100 text-xl mb-2 mt-20 flex justify-center"
		>
			Daily Team Scorched matches
		</h2>
		<span class="text-gray-700 dark:text-gray-300 mb-2 flex justify-center">
			(as of {
				new Date(metadata.last_entry_date * 1000).toLocaleString(undefined, {
					year: "numeric",
					month: "long",
					day: "numeric",
				})
			})
		</span>
		<Science_Activity client:only />
	</div>
</LayoutSidebar>
